<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="css/style.css" />
        <link href="assets/css/codemirror.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/ace.min.css" />


        <link rel="stylesheet" href="angular/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="angular/plugins/adminLTE/css/AdminLTE.css">
        <link rel="stylesheet" href="angular/plugins/adminLTE/css/skins/_all-skins.min.css">
        <script src="angular/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="angular/plugins/bootstrap/js/bootstrap.min.js"></script>

        <!--    &lt;!&ndash; 引入angular的js &ndash;&gt;-->
        <!--    <script type="text/javascript" src="angular/plugins/angular/angular.min.js"></script>-->
        <link rel="stylesheet" href="angular/plugins/angular/pagination.css">
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
        <![endif]-->
        <script src="angular/plugins/angular/angular.js"></script>
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- 引入分页相关的JS和CSS -->
        <script type="text/javascript" src="angular/plugins/angular/pagination.js"></script>
        <script src=" js/ui-bootstrap-tpls.js"></script>
        <script src="assets/js/typeahead-bs2.min.js"></script>
        <script src="assets/js/jquery.dataTables.min.js"></script>
        <script src="assets/js/jquery.dataTables.bootstrap.js"></script>
        <script src="assets/layer/layer.js" type="text/javascript" ></script>
        <script src="assets/layer/ng-layer.js" type="text/javascript" ></script>
        <script src="assets/laydate/laydate.js" type="text/javascript"></script>


    <script type="text/javascript" src="js/controller/adminInfo.js"></script>

    <title>个人信息管理</title>
</head>
<body ng-app="adminInfoApp" ng-controller="adminInfoCtrl">
<div class="clearfix">
    <div class="admin_info_style">
        <div class="admin_modify_style" id="Personal">
            <div class="type_title">管理员信息 </div>
            <div class="xinxi">
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">用户名： </label>
                    <div class="col-sm-9"><input type="text" ng-model="adminInfo.username" class="col-xs-7 text_info" disabled="disabled">
                        &nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="updatePsw(adminInfo)" class="btn btn-warning btn-xs">修改密码</a></div>

                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">性别： </label>
                    <div class="col-sm-9">
                        <span class="sex" ng-bind="adminInfo.sex"></span>
                        <div class="add_sex">
                            <label><input name="form-field-radio" type="radio" class="ace" checked="checked"><span class="lbl">保密</span></label>&nbsp;&nbsp;
                            <label><input name="form-field-radio" type="radio" class="ace"><span class="lbl">男</span></label>&nbsp;&nbsp;
                            <label><input name="form-field-radio" type="radio" class="ace"><span class="lbl">女</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">年龄： </label>
                    <div class="col-sm-9"><input type="text" ng-model="adminInfo.age" class="col-xs-7 text_info" disabled="disabled"></div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right" >移动电话： </label>
                    <div class="col-sm-9"><input type="text" ng-model="adminInfo.phone" class="col-xs-7 text_info" disabled="disabled"></div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">电子邮箱： </label>
                    <div class="col-sm-9"><input type="text"  ng-model="adminInfo.email" class="col-xs-7 text_info" disabled="disabled"></div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right" >QQ： </label>
                    <div class="col-sm-9"><input type="text" name="QQ" id="website-title" ng-model="adminInfo.qq" class="col-xs-7 text_info" disabled="disabled"> </div>
                </div>
                <div class="form-group"><label class="col-sm-3 control-label no-padding-right">注册时间： </label>
                    <div class="col-sm-9" > <span ng-bind="adminInfo.registerTime"></span></div>
                </div>
                <div class="Button_operation clearfix">
                    <button ng-click="modify(adminInfo)" class="btn btn-danger radius" type="submit">修改信息</button>
                    <button onclick="save_info();" class="btn btn-success radius" type="button">保存修改</button>
                </div>
            </div>
        </div>
        <div class="recording_style" style="width: 880px">
            <div class="type_title">管理员登陆记录 </div>
                <li style="width:90px;"><button type="button" class="btn_search" ng-click="search()"><i class="icon-search"></i>查询</button></li>
                <table class="table table-border table-bordered table-bg table-hover table-sort" id="sample-table">
                    <thead>
                    <tr class="text-c">
                        <th style="padding-right:0px">
                            <input id="selall" type="checkbox" class="icheckbox_square-blue" ng-model="selectedAll" ng-change="chooseAll()">
                        </th>
                        <th width="80">日志编号</th>
                        <th width="100">内容</th>
                        <th width="80px">用户名</th>
                        <th width="20%">客户端ip</th>
                        <th width="30%" style="width: 130px">时间</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="logInfo in logInfos">-->
                        <td ><input type="checkbox" ng-model="logInfo.selected" ng-change="choose(logInfo)"></td>
                        <td  ng-bind="logInfo.id"></td>
                        <td >登陆成功!</td>
                        <td  ng-bind="logInfo.createBy"></td>
                        <td ng-bind="logInfo.requestIp"></td>
                        <td  ng-bind="logInfo.createDate"></td>
                    </tr>
                    </tbody>
                </table>
                <tm-pagination conf="pageInfo" style="float: right"></tm-pagination>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--<script>-->

<!--    //按钮点击事件-->
<!--    function modify(){-->
<!--        $('.text_info').attr("disabled", false);-->
<!--        $('.text_info').addClass("add");-->
<!--        $('#Personal').find('.xinxi').addClass("hover");-->
<!--        $('#Personal').find('.btn-success').css({'display':'block'});-->
<!--    };-->








<!--    // function save_info(){-->
<!--    //     var num=0;-->
<!--    //     var str="";-->
<!--    //     $(".xinxi input[type$='text']").each(function(n){-->
<!--    //         if($(this).val()=="")-->
<!--    //         {-->
<!--    //-->
<!--    //             layer.alert(str+=""+$(this).attr("name")+"不能为空！\r\n",{-->
<!--    //                 title: '提示框',-->
<!--    //                 icon:0,-->
<!--    //             });-->
<!--    //             num++;-->
<!--    //             return false;-->
<!--    //         }-->
<!--    //     });-->
<!--    //     if(num>0){  return false;}-->
<!--    //     else{-->
<!--    //-->
<!--    //         layer.alert('修改成功！',{-->
<!--    //             title: '提示框',-->
<!--    //             icon:1,-->
<!--    //         });-->
<!--    //         $('#Personal').find('.xinxi').removeClass("hover");-->
<!--    //         $('#Personal').find('.text_info').removeClass("add").attr("disabled", true);-->
<!--    //         $('#Personal').find('.btn-success').css({'display':'none'});-->
<!--    //         layer.close(index);-->
<!--    //-->
<!--    //     }-->
<!--    // };-->
<!--    //初始化宽度、高度-->
<!--    $(".admin_modify_style").height($(window).height());-->
<!--    $(".recording_style").width($(window).width()-400);-->
<!--    //当文档窗口发生改变时 触发-->
<!--    $(window).resize(function(){-->
<!--        $(".admin_modify_style").height($(window).height());-->
<!--        $(".recording_style").width($(window).width()-400);-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    jQuery(function($) {-->
<!--        var oTable1 = $('#sample-table').dataTable( {-->
<!--            "aaSorting": [[ 1, "desc" ]],//默认第几个排序-->
<!--            "bStateSave": true,//状态保存-->
<!--            "aoColumnDefs": [-->
<!--                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示-->
<!--                {"orderable":false,"aTargets":[0,2,3,4,5,6]}// 制定列不参与排序-->
<!--            ] } );-->


<!--        $('table th input:checkbox').on('click' , function(){-->
<!--            var that = this;-->
<!--            $(this).closest('table').find('tr > td:first-child input:checkbox')-->
<!--                .each(function(){-->
<!--                    this.checked = that.checked;-->
<!--                    $(this).closest('tr').toggleClass('selected');-->
<!--                });-->

<!--        });-->
<!--    });</script>-->