<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css"/>
    <link href="assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="font/css/font-awesome.min.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
    <script src="js/angular.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src=" js/ui-bootstrap-tpls.js"></script>
    <script src="assets/js/typeahead-bs2.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/jquery.dataTables.bootstrap.js"></script>
    <script src="assets/layer/layer.js" type="text/javascript" ></script>
    <script src="assets/layer/ng-layer.js" type="text/javascript" ></script>
    <script type="text/javascript" src="angular/plugins/angular/pagination.js"></script>
    <script src="assets/laydate/laydate.js" type="text/javascript"></script>
    <link rel="stylesheet" href="angular/plugins/angular/pagination.css">
    <!-- 分页组件结束 -->
    <script type="text/javascript" src="js/controller/gameType.js"></script>
<title>游戏类型</title>
</head>

<body ng-app="gameTypeApp" ng-controller="gameTypeCtrl">
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">游戏分类管理</h3>
    </div>
    <div class="box-body">
        <ol class="breadcrumb">
            <li ng-repeat="nc in navCategories">
                <a href="javascript:void(0)" ng-click="queryNavCategories(nc)" ng-bind="nc.name">顶级分类列表</a>
            </li>
        </ol>
        <div class="table-box">
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="show()">
                            <i class="fa fa-file-o"></i> 新建
                        </button>
                        <button type="button" class="btn btn-default" ng-click="delelteGoodsCategories()">
                            <i class="fa fa-trash-o"></i> 删除
                        </button>
                        <button type="button" class="btn btn-default" ng-click="queryGoodsCategories(parentId)">
                            <i class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <span>游戏分类名称</span>
                    <input type="text" ng-model="categorieName">
                    <button type="button" class="btn btn-default" ng-click="queryGoodsCategories()">
                        <i class="fa fa-search"></i>查询
                    </button>
                </div>
            </div>
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input type="checkbox" class="icheckbox_square-blue" ng-model="selectedAll" ng-change="chooseAll()">
                    </th>
                    <th class="sorting_asc">分类ID</th>
                    <th class="sorting">分类名称</th>

                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gc in goodsCategories">
                    <td><input type="checkbox" ng-model="gc.selected" ng-change="choose(gc)"></td>
                    <td ng-bind="gc.id"></td>
                    <td ng-bind="gc.name"></td>
                    <td class="text-center">
                        <button type="button" class="btn bg-olive btn-xs" ng-click="queryNavCategories(gc)">查询下级</button>
                        <a title="编辑" ng-click="showGoodsCategoryModal(gc)"  class="btn btn-xs btn-info" ><i class="icon-edit bigger-120"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <tm-pagination conf="pageInfo"></tm-pagination>
        </div>
    </div>
</div>
</body>
</html>