<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">广告详细信息</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped"  width="800px">
        <tr>
            <td>广告编号</td>
            <td><input  class="form-control" placeholder="广告编号" ng-model="advertManage.id" disabled></td></td>
        </tr>
        <tr>
            <td>广告名称</td>
            <td><input  class="form-control" placeholder="广告名称" ng-model="advertManage.name" disabled></td>
        </tr>
        <tr>
            <td>广告类型</td>
            <td>
                <select ng-model="currentGC.template" ng-options="t.name for t in templates" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>广告价格</td>
            <td><input  class="form-control" placeholder="广告价格" ng-model="advertManage.price" disabled></td>
        </tr>
        <tr>
            <td>广告时长</td>
            <td><input  class="form-control" placeholder="广告时长" ng-model="advertManage.time" disabled></td>
        </tr>

        <tr>
            <td>广告状态</td>
            <td>{{content[advertManage.statusId]}}</td>
        </tr>
        <tr>
            <td>广告标题</td>
            <td><input  class="form-control" placeholder="广告标题" ng-model="advertManage.title" disabled></td>
        </tr>

        <tr>
        <td>广告图片</td>
        <td>
            <img src="http://localhost:8080/admin/downloadImage?imageName={{advertManage.pic}}" width="200" height="100">
        </td>
        </tr>



        <tr>
            <td>广告链接</td>
            <td><input  class="form-control" placeholder="广告链接" ng-model="advertManage.url" disabled></td>
        </tr>
        <tr>
            <td>广告上架时间</td>
            <td><input  class="form-control" placeholder="广告上架时间" ng-model="advertManage.shelfTime" disabled></td>
        </tr>
        <tr>
            <td>广告审核时间</td>
            <td><input  class="form-control" placeholder="广告审核时间" ng-model="advertManage.auditTime" disabled></td>
        </tr>
    </table>

</div>
<div class="modal-footer">
    <input type="button" value="导出" class="btn btn-info" ng-click="export(advertManage)"></input>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-success" ng-click="save()">确定</button>
</div>