<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
    <h3 id="myModalLabel">广告类型添加</h3>
</div>
<div class="modal-body">

    <table class="table table-bordered table-striped" width="800px">
        <tr>
            <td>广告类型</td>
            <td><input class="form-control" placeholder="请输入广告类型" ng-model="con.name"></td>
        </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save(con.name)">保存</button>
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">关闭</button>
</div>